<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://porngifsforadults.com/wp-content/uploads/2017/01/Jynx-Maze-Manuel-Ferrara-Creampies-Their-Asses-2-Buttfucked.gif" alt="">
  </body>
</html>
